.main_container{
    width: 100%;
    padding: 6px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.center_container{
    width: 700px;
    height: 90vh;
    overflow-y: scroll;
}
.add_job_btn{
    width: 100%;
    margin: 10px 0px;
}
.each_element{
    width: 100%;
    display: flex;
    flex-direction: column;
}
button[type="submit"]{
    margin: 10px 0px;
}
.remove_job_btn{
    width: 60%;
    margin: 10px 0px;
}
.add_position_btn{
    width: 100%;
}
.each_service_container{
    padding: 5px;
        border-bottom: 5px solid rgb(109, 105, 105);
}