<header>
  <div class="center_container">
    <nav>
      <ul>
        <li>
          <button mat-button routerLink="/">
            <a>Reactive Form</a>
          </button>
          <button mat-button routerLink="/movies">
            <a>IMDB API </a>
          </button>
          <button mat-button routerLink="/pipe">
            <a>Date pipe</a>
          </button>
          <button mat-button routerLink="/calendar">
            <a>Calendar</a>
          </button>
          <button mat-button routerLink="/comparision">
            <a>Comparision</a>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
